<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Birdston Kennels</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/assets/favicon.png}"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/extra.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container px-4">
    <a class="navbar-brand" th:href="@{/public/home#page-top}">Birdston Kennel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>

    <!--    AUTHENTICATED CUSTOMER NAV BAR-->
    <div class="collapse navbar-collapse" id="navbarResponsive" sec:authorize="isAuthenticated() and hasAuthority('CUSTOMER') ">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/public/home#about}">About</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/public/home#availability}">Availability</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/public/home#contact}">Contact</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/customer/make_booking}">MakeBooking</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/customer/view_bookings}">My Bookings</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ><a class="nav-link" th:href="@{/customer/my_profile}">MyProfile</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}">Logout</a>
        </li>
      </ul>
    </div>


    <!--    AUTHENTICATED EMPLOYEE NAV BAR-->
    <div class="collapse navbar-collapse" id="navbarResponsive" sec:authorize="isAuthenticated() and !hasAuthority('CUSTOMER') ">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/employee/dashboard}">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/employee/view_all_bookings}">View All Bookings</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/employee/view_employees}">View Employees</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/employee/view_customers}">View Customers</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ><a class="nav-link" th:href="@{/employee/my_profile}">MyProfile</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>


<section class="container px-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  mx-auto">
        <div class="card flex-row my-2 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h2>Confirm Booking</h2>
            <hr/>
            <form action='#' th:action="@{/booking/cancel_booking/{id}(id = ${booking.getId()})}" th:object="${booking}" method="POST">


              <div th:if="${msg == 'bookingCanceled'}" class="alert alert-success">
                Booking Canceled
              </div>
              <div th:if="${error == 'noIntent'}" class="alert alert-danger">
                Cancellation Failed!
              </div>

              <div class="mb-3">
                <h5>Booking Details</h5>
                <div class="form-floating mb-3">
                  <p th:text="*{status}" type="date" class="form-control" id="status"></p>
                  <label for="status">Booking Status</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="*{customer.getFirstName() + ' ' + customer.getLastName}" type="date" class="form-control" id="name"></p>
                  <label for="name">Customer Name</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="*{{timeOfBooking}}" type="date" class="form-control" id="bookedOn"></p>
                  <label for="bookedOn">Date of Booking</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="*{{arrival}}" type="date" class="form-control" id="drop-off"></p>
                  <label for="drop-off">Drop off date</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="*{{departure}}" type="date" class="form-control" id="pickup"></p>
                  <label for="pickup">Pic up date</label>
                </div>
              </div>
              <hr class="text-center col-2 offset-5">
              <div class="mb-3">
                <h5>Dogs booked in</h5>
                <div class="list-group form-floating mb-3 form-control">
                  <div class="text-center" th:each="d : *{dogs}">
                    <p th:text="${d.getName()}" id="dog" class=""></p>
                  </div>
                </div>
                <hr class="col-6 offset-3"/>
                <div class="form-floating mb-3">
                  <p th:if="*{groomingIncluded}" type="date" class="form-control" id="groomingIncluded">Yes</p>
                  <p th:if="*{!groomingIncluded}" type="date" class="form-control" id="groomingIncluded">No</p>
                  <label for="groomingIncluded">GroomingIncluded</label>
                </div>
              </div>
              <hr class="text-center col-2 offset-5">
              <div class="mb-3">
                <h5>Payment</h5>
                <div class="form-floating mb-3">
                  <p th:text="'£' + ${payment.getTotal()/100}" type="date" class="form-control" id="total"></p>
                  <label for="total">Booking Total</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="'£' + ${payment.getPricePaid()/100}" type="date" class="form-control" id="total_payed"></p>
                  <label for="total_payed">Booking Total</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="${payment.getPaymentEmail()}" type="date" class="form-control" id="email"></p>
                  <label for="email">Payment Email</label>
                </div>
                <div class="form-floating mb-3">
                  <p th:text="${payment.getIntentId()}" type="date" class="form-control" id="payment_id"></p>
                  <label for="payment_id">Payment ID</label>
                </div>
              </div>
              <br>
              <div>
                <div class="d-grid" th:if="${canCancel}">
                  <button onclick="clicked()" class="btn btn-warning btn-lg" id="cancelBooking">Cancel Booking</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<hr/>

<footer class="py-5 bg-dark">
  <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; BirdstonKennels 2023</p></div>
</footer>

<script>
  function clicked(){
    if(!confirm(
      'Are you sure you wish to cancel booking? ' +
      'Bookings canceled less than 3 days before arrival are non-refundable.'
    )){
      e.preventDefault();
    }
  }
</script>

</body>

</html>