<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>Birdston Kennels</title>

  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>

  <link th:href="@{/css/extra.css}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container px-4">
    <a class="navbar-brand" href="/#page-top">Birdston Kennel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>





<section class="container px-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h3 class="card-title text-center mb-5 fw-light fs-5">Choose New Password</h3>
            <form th:action="@{/employee/change_password}" th:object="${change_password_request}" method="post">

              <!--              error handling                  -->
              <div>
                <div th:if="${error == 'passwordMatch'}" class="alert alert-danger">
                  Passwords need to match.
                </div>
                <div th:if="${error == 'passwordLength'}" class="alert alert-danger">
                  Passwords must be between 8 and 25 characters.
                </div>
                <div th:if="${error == 'passwordUpper'}" class="alert alert-danger">
                  Passwords must have at least one capital letter.
                </div>
                <div th:if="${error == 'passwordLower'}" class="alert alert-danger">
                  Passwords must have at least one lowercase letter.
                </div>
                <div th:if="${error == 'passwordDigit'}" class="alert alert-danger">
                  Passwords must have at least one Digit.
                </div>
                <div th:if="${error == 'passwordSpecial'}" class="alert alert-danger">
                  Passwords must have at least special character.
                </div>
                <div th:if="${error == 'passwordSpace'}" class="alert alert-danger">
                  Passwords must have no spaces.
                </div>
              </div>
              <!--              end of error handling                  -->

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="last name" th:field="*{password}"
                       required>
                <label for="password">Password</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirmPassword" placeholder="last name" th:field="*{confirmPassword}"
                       required>
                <label for="confirmPassword">Confirm Password</label>
              </div>

              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register Employee</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="py-5 bg-dark">
  <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; BirdstonKennels 2023</p></div>
</footer>

<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'></script>
<script th:src="@{js/scripts.js}"></script>

</body>
</html>